* {
    box-sizing:border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}
/* Nav bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    opacity: 0.9;
    
}
.brand-title {
    font-size: 2rem;
    margin: 1rem 2.5rem;
    font-family: cursive;
    color: black;
}
.navbar span{
    color: lightcoral;
}

.navbar-link {
    margin-right: 2.5rem;
}
.navbar-link ul {
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
}

.navbar-link li{
    list-style: none;
}
.navbar-link li a {
    text-decoration: none;
    color: lightcoral;
    padding: 1.5rem;
    display:block;
    font-size: 1.2rem;
}

.navbar-link li:hover{
    background-color: rgb(247, 235, 235);
    opacity: 0.9;

}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content:space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 90%;
    background-color: lightcoral;
    border-radius: 10px;
}
/* End navbar */

/* Hero section */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.57), rgba(0,0,0,0.57)), url("https://hapham-haagahelia.github.io/shoestoes/web-image/cover_4.jpg");
    background-size: cover;
    background-position: center;
    
}

.header .cta {
    display: inline-block;
    padding: 15px 30px;
    color: seashell;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 2px;
}
.header .img-wrapper {
    width: 100%;
    height: 100vh;

}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;


}

.content h1{
    font-size: 4.5rem;
    font-weight: 50;
    letter-spacing: .1rem;
    color: seashell;
    line-height: 6rem;
}

/* End hero section */

/* Main section */

#program{
    margin: 80px 80px;
}

#program .program-top {
    max-width: 70%;
    margin: 0px auto;
}

#program .program-title {
    font-size: 3rem;
    font-weight: 300;
    color:lightcoral;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: .1rem;
    text-align: center;
}

.program-top p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: rgb(80, 78, 78);
    text-align: center;
}
.program-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 100px;
}

.program-content img{
    width: 100%;
    height: 45vh;
}

.list {
    background-color: black;
    padding-bottom: 10px;
    border-radius: 3px;
}

.detail .cta {
    display: inline-block;
    padding: 10px 15px;
    color: seashell;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid whitesmoke;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
}

#program .under-content{
    color: seashell;
}

/* End main section */