* {
    box-sizing:border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}
/* Nav bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    opacity: 0.9;
    
}
.brand-title {
    font-size: 2rem;
    margin: 1rem 2.5rem;
    font-family: cursive;
    color: black;
}
.navbar span{
    color: lightcoral;
}

.navbar-link {
    margin-right: 2.5rem;
}
.navbar-link ul {
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
}

.navbar-link li{
    list-style: none;
}
.navbar-link li a {
    text-decoration: none;
    color: lightcoral;
    padding: 1.5rem;
    display:block;
    font-size: 1.2rem;
}

.navbar-link li:hover{
    background-color: rgb(247, 235, 235);
    opacity: 0.9;

}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content:space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 90%;
    background-color: lightcoral;
    border-radius: 10px;
}
/* End navbar */